{% extends "Index.html" %} {% block content %}

<main>
  <div class="Left_Text">
   
  <h1>BOOK YOUR LIFE</h1>

  <br />
<p>
    This project is a web application that will recommend books to the user based on a selection of books already read.

    <h2> How it works</h2>
    We use a Latent Dirichlet Allocation (LDA) model to find the topics of the books selected. Then we use the Euclidean distance to find the books that are closer to the ones selected, and therefore the most similar.
</p>
  </div>
    
    <div class="Right_Text">
    <p>
    <h2> How to use</h2>
    It is pretty straight forward:
    <ol>
        <li> Click on get a recommendation on the menu </li>
        <li> Select the books you have read </li>
        <li> Click on get recommendation </li>
    </ol>

    <h3>ENJOY!</h3>
    
</p>
</div>
</main>

{% endblock content %}
