{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href= '{% static "Styles.css" %}' media="screen" />
</head>
<body>
    <header>
    <nav class="dropdownmenu">
        <ul>
            <li><a href='/'> Home Page </a></li>
            <li><a href="/all_books"> View Books </a></li>
            <li><a href="/recommendations/"> Recommended for You </a></li>
        </ul>
    </nav>
    </header>
        {% block content %}
        {% endblock content %}
</body>

</html>
