{% extends "Index.html" %} {% block content %}
<div class="Full_Wrapper">
    <div class="Recommended_Wrapper">
    <div class="image_container">
        {% for i in suggestions %}
      <div class="icon-image">
        <div class="icon">
          <img src="{{i.book.image_url}}" alt= "{{ i.title }}"/>
        </div>
        <div class="hover-image one">
          <div class="img">
            <img src="{{i.book.image_url}}" alt= "{{ i.title }}" />
          </div>
          <div class="content">
            <div class="details">
              <div class="name"> {{i.book.title}} <br> Score: {{ i.score }} %</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
    
        {% for i in suggestions %}
        
        {% endfor %}
        <div class="Onclick_Button">
        <button onclick="location.href='/'">Got it</button>

{% endblock content %}