{% extends "Index.html" %} 
{% block content %}
        
    <form action="{% url 'recommendations' %}" method="post">
        {% csrf_token %}
    
    {% for i in books %}
        <input type="checkbox" value="{{ i.id }}"> {{i.title}}<br>
        <img src="{{i.image_url}}" alt="image" style="width: 20%; height: 20%;">
        <br>
    {% endfor %}
    
{#    button on click send a rqst to recommendations with the array selected in the request body#}
    <button type="submit" >Submit</button>
    </form>
    
    
    
{% endblock content %}

