{% extends "Index.html" %} 
{% block content %}


        
    <form action="{% url 'recommendations' %}" method="POST">
        {% csrf_token %}

    <div class="wrapper">
    
    {% for i in books %}
    <div class="container">
        <input type="checkbox" name="books" value="{{ i.id }}" id="{{ i.id }}"> {{i.title}}<br>
        <label for="{{ i.id }}">
        <img src="{{i.image_url}}" alt="image">
    </label>
    </div>
        <br>
    {% endfor %}
    </div>

    <button type="submit" >Submit</button>
    <script>
        function TakeIdsChecked()
        {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const Ids = Array.from(checkboxes).map(checkbox => checkbox.value);
    
            return Ids
        }
    
        const SubmitButton = document.querySelector('button[type="submit"]');
        SubmitButton.addEventListener('click', () => {const Ids = TakeIdsChecked(); });
    
    </script>
    </form>
    
{% endblock content %}

