{% load static %}

Body {
    background-image: url("Imagen1.jpg");
    background-size: cover;
}

header {
    background-color: #30A6E6;
    color: #fff;
    display: flex;
}

main {
    text-align: center;
    font-family:'Gill Sans';
    color: white;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    background: gray;
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a {
    background: #30A6E6;
    color: #FFFFFF;
    display: block;
    font: bold 22px/40px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu li:hover a {
    background: #000000;
}