{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.Full_Wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.Recommended_Wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container{
  height: 500px;
  display: flex;
  min-width: 400px;
  align-items: flex-end;
  justify-content: center;
  margin-top: -55px;
}
.icon-image{
  position: relative;
  height: 70px;
  width: 70px;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background: #fff;
}
.icon-image .icon img{
  position: absolute;
  height: 95%;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0396FF;
}
.icon-image::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.icon-image .hover-image{
  position: absolute;
  height: 350px;
  width: 300px;
  bottom: 100px;
  left: 33%;
  z-index: 0;
  transform: translateX(-50%);
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, z-index 0s, left 0.5s ease ;
  transition-delay: 0s, 0.5s, 0.5s;
}
.icon-image:hover .hover-image{
  left: -200px;
  z-index: 12;
  transform: translateX(70px);
  transition: left 0.5s ease, z-index 0s, transform 0.5s ease;
  transition-delay: 0s, 0.5s, 0.5s;
}
.hover-image img{
  position: absolute;
  height: 100%;
  width: 80%;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 25px;
}
.hover-image .content{
  position: absolute;
  width: 100%;
  bottom: -10px;
  padding: 0 10px;
}
.content::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 50%;
  bottom: -7px;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}
.content .details{
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}
.icon-image:hover .details{
  transition: all 0.5s ease;
  transition-delay: 0.9s;
  opacity: 1;
  transform: translateY(4px);
  pointer-events: auto;
}
.details::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 51%;
  bottom: -15px;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}
.content .details .name{
 font-size: 20px;
 font-weight: 500;
}

.content .details a:hover{
  color: #0396FF;
}
.container .last .hover-image{
  transition: none;
}
.container .last:hover .hover-image{
  transition: 0;
}
.last:hover .details{
  transition-delay: 0s;
}


/*hide scroll bar*/
body ::-webkit-scrollbar {
    display: none;
}

Body {
    background-image: url("Imagen1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000000;

/*    blend color and photo*/
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);

}


header {
    background-color: #ffa580;
    color: #fff;
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: left;
    align-items: center;
    height: 85vh;
}

.Left_Text {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid white;
    font-family: 'Lucida Sans';

}

.Right_Text {
    float: right;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Courier New';
}

.dropdownmenu{
    position: relative;
    display: inline-block;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    background: gray;
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a {
    background: #ffa580;
    color: #FFFFFF;
    display: block;
    font: bold 22px/40px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

/*hide scroll bar from wrapper*/
.wrapper::-webkit-scrollbar {
    display: none;
}

.dropdownmenu li:hover a {
    background: #000000;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    max-height: 75vh;
    overflow-y: scroll;
    width: 80vw;
}

.container {
    height: 190px;
    width: 130px;
    background-color: transparent;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: 15px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.Photo img {
    border-radius: 15px;
    border: 9px solid transparent;
    border-color: #f8f4e5;
    color: #f8f4e5;
}

.container .checkbox:hover ~ .Photo img {
    border-color: black;
    color: black;
}

.container .checkbox:checked:hover ~ .Photo img {
    border-color: black;
    color: black;
}

.container .checkbox:checked ~ .Photo img{
    border-color: indigo;
    color: indigo;
}

.container img {
    width: 90%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    visibility: hidden;
}

button[type="submit"] {
    background: #ffa580;
    color: #FFFFFF;
    display: block;
    font: bold 22px/40px sans-serif;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

.Bottom-Right_Button button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

button[type="submit"]:hover {
    background: #000000;
}

.add_book {
    background: #f8f4e5;
    padding: 50px 100px;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add_book input[type="text"] {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 14pt * 2;
    font-family: 'Gill Sans';
    margin-bottom: 14pt * 2;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
}

.add_book input[type="text"]:focus {
    border-bottom: 5px solid #ffa580;
}

.add_book textarea {
    border-bottom: 5px solid rgba(0,0,0,1);
    border-top: 5px solid rgba(0,0,0,1);
    border-left: 5px solid rgba(0,0,0,1);
    border-right: 5px solid rgba(0,0,0,1);
    background: #f8f4e5;
    padding: 30px;
}

.add_book textarea:focus {
    border-bottom: 5px solid #ffa580;
    border-top: 5px solid #ffa580;
    border-left: 5px solid #ffa580;
    border-right: 5px solid #ffa580;
}

.Wrap_Button button{
    display: block;
    margin: 0 auto;
    line-height: 14pt * 2;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px 1px #ffa580, 3px 3px 1px 2px rgba(0,0,0,1);
    bottom: 0;
    right: 0;
}

.Wrap_Button button:hover {
    background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1)
}

.Wrap_Button button::selection {
    background: #ffc8ff;
}

.Onclick_Button button {
    background: #ffa580;
    color: #FFFFFF;
    display: block;
    font: bold 22px/40px sans-serif;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.Onclick_Button button:hover {
    background: #000000;
}

.Left_Text h2{
    font-size: 25px;
    font-weight: 400;
    font-family: cursive;
    font-style: italic;
}